@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
body{    
   background-image: url(/maps3.png); 
}
header{
    display: block;
    height: 60px;
    width: auto;
    margin-left: -9px;
    margin-right: -9px;
    margin-top: -11px;
    background: rgb(22, 22, 236);
    text-align: center;
    padding: 3px;   
    border:  double 7px #FFFF00; 
}
h1#titu{
    font-family: 'Press Start 2P', cursive;
    font-size: 30px;
    margin-right: 14px;
    margin-top: 11px;
    color:#FFFF00;    
}
div#logo{
    position: absolute;
    left: 850px;
    top: -1px;
}
section{
    margin: auto;
    background:  rgb(22, 22, 236);
    margin-top: 10px;
    height: auto;
    width: 550px;
    padding: 40px;
    border-radius: 10px;
}
div.cx{
    margin-left: 100px;  
      
    
     
}
input{
    height: 30px; 

}
input.n{
    width: 340px;
    height: 30px;
    background: white;
    font-size: 16px;    
}
div#bot{
    text-align: center;
}
input#botao{
    margin-top: 10px;    

}
div.ti{
    font-size: 18px;
    color:  rgb(255, 238, 7);
}
