@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Hanalei&family=Luckiest+Guy&family=Ranchers&display=swap');
body{    
   background-image: url(/maps3.png); 
}
header{
    display: block;
    height: 69px;
    width: auto;
    margin-left: -9px;
    margin-right: -9px;
    margin-top: -22px;
    background: rgb(22, 22, 236);
    text-align: center;
    padding: 3px;
    font-family: 'Gloria Hallelujah', cursive;
    font-family: 'Hanalei', cursive;
    font-family: 'Luckiest Guy', cursive;
    font-family: 'Ranchers', cursive;

    


}
div#logo{
    position: absolute;
    left: 800px;
    top: -2px;
}
section{
    margin: auto;
    background:  rgb(22, 22, 236);
    margin-top: 10px;
    height: auto;
    width: 550px;
    padding: 40px;
    border-radius: 10px;
}
div.g{
    margin-left: 100px;    
}
input{
    height: 30px; 

}
input.n{
    width: 340px;
    height: 30px;
}
div#con{
    text-align: center;
}
input#botao{
    margin-top: 10px;    

}
div.ti{
    font-size: 18px;
    color:  rgb(255, 238, 7);
}
